html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.input-div {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
#test5 {
    border: 1px solid rgba(255,255,255,.5);
    transform: scale(1.4, 1.4);
}
#year {
    position: absolute;
    color: whitesmoke;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 50px;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    width: 100px;
}

div.input-div.esri-component {
    padding: 0 50px;
}


svg:hover image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

img:hover {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#buttonDiv {
    display: none;
}

@media only screen and (max-width: 400px) {
    .input-div {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 545px) {
    #youFrame {
        width: 250px;
        height: 140px;
        margin: 0 auto;
        margin-bottom: 140px; 
    }
    #test5 {
        transform: scale(1.8, 1.8);
    }
    div.input-div.esri-component {
        padding: 0 75px;
    }

}   